/*-----------------
* [Master Stylesheet]
*
* Theme    : WillyWonka
* Version  : 1.0
* Author   : sujal
* 
------------------*/
::-webkit-scrollbar{
    width: 4px;
    color:#00909e;
}
::-webkit-scrollbar-thumb {
    background: #00909e; 
    border-radius: 4px;
    width: 4px;
  }
  #breaker{
      background-color: #00909e;
  }
  .color{
      color: #00909e;
  }
  #about-content a{
      color:#00909e ;
  }
  .cv a button{
      background: #00909e;
  }
  .service-img img{
    background: #00909e;
    box-shadow:0px 0px 0px 0px #00909e ;
  }
  .service:hover .service-img img{
    box-shadow:0px 0px 0px 400px #00909e ;
}
.html-progress{
    background: #00909e;
}
.js-progress{
    background: #00909e;
}
.adobe-progress{
    background: #00909e;
}
.php-progress{
    background: #00909e;
}
.mysql-progress{
    background: #00909e;
}
.python-progress{
    background: #00909e;
}
.office-progress{
    background: #00909e;
}
.c-progress{
    background: #00909e;
}
.portfolio-text h2{
    color: #00909e;
}
.portfolio-text button{
    color: #00909e;
    border: 1.5px solid #00909e;
}
.portfolio-text button::before{
    background: #00909e;
}
.portfolio-image img::before{
    background: #00909e;
}
.blog-date{
    background: #00909e;
}
form button{
    background: #00909e;
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px #c70039 ;
    }
}

.blob-btn {
    color: #00909e;
}

.blob-btn:before {
    border: 2px solid #00909e;
}

.blob-btn__blob {
    background: #00909e;
}



#veille .color {
  color: #00909e;
}

#veille .blog-header {
  border-bottom: 2px solid #00909e;
}

#veille h3 {
  color: #00909e;
  border-left: 5px solid #00909e;
}