/*-----------------
* [Master Stylesheet]
*
* Theme    : WillyWonka
* Version  : 1.0
* Author   : sujal
* 
------------------*/
::-webkit-scrollbar{
    width: 4px;
    color:#c70039;
}
::-webkit-scrollbar-thumb {
    background: #c70039; 
    border-radius: 4px;
    width: 4px;
  }
  #breaker{
      background-color: #c70039;
  }
  .color{
      color: #c70039;
  }
  #about-content a{
      color:#c70039 ;
  }
  .cv a button{
      background: #c70039;
  }
  .service-img img{
    background: #c70039;
    box-shadow:0px 0px 0px 0px #c70039 ;
  }
  .service:hover .service-img img{
    box-shadow:0px 0px 0px 400px #c70039 ;
}
.html-progress{
    background: #c70039;
}
.js-progress{
    background: #c70039;
}
.adobe-progress{
    background: #c70039;
}
.php-progress{
    background: #c70039;
}
.mysql-progress{
    background: #c70039;
}
.python-progress{
    background: #c70039;
}
.office-progress{
    background: #c70039;
}
.c-progress{
    background: #c70039;
}
.portfolio-text h2{
    color: #c70039;
}
.portfolio-text button{
    color: #c70039;
    border: 1.5px solid #c70039;
}
.portfolio-text button::before{
    background: #c70039;
}
.portfolio-image img::before{
    background: #c70039;
}
.blog-date{
    background: #c70039;
}
form button{
    background: #c70039;
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px #c70039 ;
    }
}

.blob-btn {
    color: #c70039;
}

.blob-btn:before {
    border: 2px solid #c70039;
}

.blob-btn__blob {
    background: #c70039;
}



#veille .color {
  color: #c70039;
  font-weight: 600;
}

#veille .blog-header {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-align: center;
  color: whitesmoke;
  padding-bottom: 40px;
  border-bottom: 2px solid #c70039;
}

#veille h3 {
  color: #c70039;
  border-left: 5px solid #c70039;
}